USE [master]
GO
/****** Object:  Database [C:\USERS\THOMA\SOURCE\REPOS\RSBM\RESTAURANT\RESTAURANT\RESTAURANTDATABASE.MDF]    Script Date: 2026-05-05 1:57:46 PM ******/
CREATE DATABASE [C:\USERS\THOMA\SOURCE\REPOS\RSBM\RESTAURANT\RESTAURANT\RESTAURANTDATABASE.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReservationDatabase', FILENAME = N'C:\Users\thoma\source\repos\RSBM\Restaurant\Restaurant\RestaurantDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReservationDatabase_log', FILENAME = N'C:\Users\thoma\source\repos\RSBM\Restaurant\Restaurant\RestaurantDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\THOMA\SOURCE\REPOS\RSBM\RESTAURANT\RESTAURANT\RESTAURANTDATABASE.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\THOMA\SOURCE\REPOS\RSBM\RESTAURANT\RESTAURANT\RESTAURANTDATABASE.MDF]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 2026-05-05 1:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[PartySize] [int] NOT NULL,
	[ReservationDate] [date] NOT NULL,
	[ReservationTime] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tables]    Script Date: 2026-05-05 1:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tables](
	[TableId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TableType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
