# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/
Debug/
Release/

# SQL Server database files
*.mdf
*.ldf

# NuGet packages
packages/

# Temp/cache
*.log
*.tmp
*.cache